iframe {
  display: none;
}

button {
  cursor: pointer;
  background-color: #EF476F;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  margin-right: 25px;
  border: none;
  border-radius: 5px;
  transition: 0.4s;

  &:hover {
    transition: 0.4s;
    background-color: #bb2548;
  }
}
